h1{
    
    font-family:'Kaushan Script', cursive;
    color:#BB3D3D;
}


h2, q{
    
text-align:center;
font-size:25px;
font-family:'Russo One', sans-serif;
color:white;
background-color:purple;
quotes: "\00ab" "\00bb";

}

p{
    
    font-family:'Berkshire Swash', cursive;
    font-size:23px;
    color: #cc0066;
    line-height: 2em;
}

body{
    
    background-color:black;
    
}

ul {
    list-style-type: square;
    font-size:20px;
    font-family: 'Patrick Hand', cursive;
    color:Crimson;
    
}

ol {
    list-style-type:lower-alpha;
    font-size:18px;
    font-family: 'Shrikhand', cursive;
    color:Darkred;

}

a{
    
    color:teal;
    text-decoration: none;
    
}

h4{
    
    text-decoration: underline;
    line-height: 2 em;
    
}

.heading{
    
    margin-top:0;
    margin-right:15%;
    margin-left:15%;
    padding-top:0px;
    border:dotted  purple 8px;
    padding:0px 30px 30px 30px;
    background-color: white;
    border-radius:45%;
    text-align: center;
}

.information{
    
    margin-right:15%;
    margin-left:15%;
    
}

.list{
    
    margin-right:15%;
    margin-left:15%;
    padding:0px;
    margin:0px;
    
}

.topics{
    
    margin-right:15%;
    margin-left:15%;
    
}

a:hover{
    
   color:purple;
   font-size: 150%;
    
}

li:hover{
    
    font-size:120%;
    
}
