body{
    
    background-color:Black;
    
}

h1{
    
    font-family:'Berkshire Swash', cursive;
    color:purple;
    font-size:35px;
}

h3{
    
    font-family:'Berkshire Swash', cursive;
    color:white;
    font-size:35px;
}

form{
    
    color:white;
}

.heading{
    
            text-align: center;

    
}
