body{
    
    background-color:#FE7558;
    
}

h1{
    
    font-family:'Berkshire Swash', cursive;
    color:#5F07B3;
    font-size:35px;
}

p{
    
    font-family: 'Courgette', cursive;
    font-size:20px;
    
}

.heading{
    
        text-align: center;
        border:dotted  red 8px;
         background-color: white;
        border-radius:20%;
            
}

.table{
    
    margin-top:0;
    margin-right:15%;
    margin-left:15%;
    padding-top:0px;
    font-size:15px;
    font-family: 'Kalam', cursive;
    
    
}