h1 {
    color: slateblue;
    font-family: 'VT323', monospace;
    font-size: 100px;
}

h2 {
    display: inline-block;
    width: 15%;
    height: 15%;
    margin: 20px;
    
}

body{
    
    background-color: violet;
    
}

table{
    
    color:blue;
    
}


.results{
    
    display:none;
    
}

.stats{
    
    display:none;
    
}